#
#Wed Mar 18 16:30:20 CET 2020
WORKFLOW_KNOB_SPEED_SLOW=1
TRANSPORT_BEHAVIOUR_ON_STOP=Return to Zero
NAVIGATION_FLIP_TRACK/CLIP_NAVIGATION=Off
TAG_IS_ENABLED=true
WORKFLOW_KNOB_SPEED_NORMAL=4
MIDI_OUTPUT0=CoreMIDI4J - Komplete Kontrol M DAW
MIDI_OUTPUT1=CoreMIDI4J - KOMPLETE KONTROL M32
TRANSPORT_RECORD_BUTTON=Record arranger
NAVIGATION_FLIP_CLIP/SCENE_NAVIGATION=Off
MIDI_INPUT0=CoreMIDI4J - Komplete Kontrol M DAW
WORKFLOW_NEW_CLIP_LENGTH=1 Bar
MIDI_INPUT1=CoreMIDI4J - KOMPLETE KONTROL M32
TRANSPORT_SHIFT_+_RECORD_BUTTON=New clip
